
/*
body {
    text-align: center;
    font-size: 14px;
}
div{
    font-size: 1.2em;
    font-weight: bold;
    padding: 2em;
    
}
.box1 {background-color: coral;}
.box2 {background-color: red;}
.box3 {background-color: blue;}
*/
/* em은  바로위 요소를 기준으로 삼지만 rem은 최상위 요소를 기준으로 삼는다 */

#hex-p1 {background-color:#fa0208;}
#hex-p2 {background-color:#00ff99;}
#hex-p3 {background-color:#7fffd4;}
