  p {
    background: palegreen;
    padding: 10px;
    border-style: solid;
  }
  p.one {
    border-color: red;
  }
  p.two {
    border-color: green;
  }
  p.three {
    border-color: red green blue yellow;
  div{/*
    border: 5px solid red;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 10px;

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
  
    width:300px;
    height:100px;
    background-color: green;
    border: 5px solid blue;
     배경색의 지정: 콘텐츠 영역과 패딩 영역에 적용된다. 
    background-color: lightgrey;
     콘텐츠 영역의 너비 
    width: 300px;
     패딩 영역의 두께 
    padding: 25px;
     테두리: 두께 형태 색상 
    border: 25px solid navy;
     마진 영역의 두께 
    margin: 25px ;
    */
  }

  /* margin -> border -> padding -> content
    box-sizing의 기본값이 content box다(따로 설정을 안하면
    content가 설정이 된다
  
  
  */